@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary-text: 215, 16%, 47%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#FAFAFA] max-h-screen overflow-hidden;
  }

  .primary {
    @apply text-transparent inline-block bg-clip-text;
    background-image: linear-gradient(45deg, #FF7AE4, #E088FB, #81ACF8);
  }

  .primary-2 {
    @apply text-transparent inline-block bg-clip-text;
    background-image: linear-gradient(180deg, #C214FF, #F67BF9, #F2F2F2);
  }

  .primary-3 {
    @apply text-transparent inline-block bg-clip-text;
    background-image: linear-gradient(180deg, #1814FF, #7E7BF9, #F2F2F2);
  }

  .gradient-2 {
    background-image: linear-gradient(45deg, #FF7AE4, #E088FB, #81ACF8);
  }

  .gradient {
    background-image: linear-gradient(45deg, rgba(250, 156, 231, var(--tw-bg-opacity)), rgba(220, 158, 239, var(--tw-bg-opacity)), rgba(152, 189, 255, var(--tw-bg-opacity)));
  }

  .gradient-border {
    position: relative;
    padding: 15px; /* Inner padding to create space for the pseudo-element */
    border-radius: 15px; /* Round corners */
    background-color: white; /* Background color inside the element */
    z-index: 1; /* Ensure content appears above the pseudo-element */
  }

  .glow {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  }
}

@font-face {
  font-family: 'Bulzing';
  src: url('./public/assets/fonts/Bulzing.ttf') format('truetype');
}

@font-face {
  font-family: 'AlienWorld';
  src: url('./public/assets/fonts/AlienWorld.ttf') format('truetype');
}

@font-face {
  font-family: 'FranxurterTotally';
  src: url('./public/assets/fonts/FranxurterTotally.ttf') format('truetype');
}

@font-face {
  font-family: 'FairyMuffin';
  src: url('./public/assets/fonts/Fairymuffin.ttf') format('truetype');
}

@font-face {
  font-family: 'Cubano';
  src: url('./public/assets/fonts/Cubano.otf') format('opentype');
}
